{% extends "bootstrap/base.html" %}

{% set title='Main' %}

{% block scripts %} 
{{ super() }}
<script src="{{ url_for('.static', filename='js/script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.dynatable.js') }}"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/jquery.dynatable.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.css')}}">
{% endblock %}

{% block head %}
{{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SoundMedia</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% if current_user.is_authenticated %}
      <form class="navbar-form navbar-right" role="search">
        <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-danger">{{ _('Log Out') }}</button></a>
      </form>
      {% else %}
      <form class="navbar-form navbar-right" role="search">
        <a href="{{ url_for('login') }}"><button type="button" class="btn btn-success">{{ _('Log In') }}</button></a>
      </form>
    {% endif %}
      <ul class="nav navbar-nav navbar-left">
      {% if current_user.is_authenticated %}
        <div id='cssmenu'>
        <ul class="active">
           <li class='has-sub'><a href='#'>{{ current_user.name }}</a>
              <ul>
                 <li class='has-sub'><a href=''>{{ _('Rated') }}</a>
                    <ul>
                    <li class='has-sub'><a href='#'>A-F</a>
                    <ul>{% for song in g.scored %}
                    {% if song.title[0] in g.alphabet[0:6] %}
                      <li><a href="{{ url_for('song', id=song.id) }}">{{ song.title }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a></li>
                    {% endif %}
                    {% endfor %}</ul>
                    </li>
                    <li class='has-sub'><a href='#'>G-M</a>
                    <ul>
                    {% for song in g.scored %}{% if song.title[0] in g.alphabet[7:13] %}
                      <li><a href="{{ url_for('song', id=song.id) }}">{{ song.title }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a></li>
                    {% endif %}
                    {% endfor %}</ul>
                    </li>
                    <li class='has-sub'><a href='#'>N-S</a>
                    <ul>
                    {% for song in g.scored %}{% if song.title[0] in g.alphabet[14:20] %}
                      <li><a href="{{ url_for('song', id=song.id) }}">{{ song.title }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a></li>
                    {% endif %}
                    {% endfor %}</ul>
                    </li>
                    <li class='has-sub'><a href='#'>U-Z</a>
                    <ul>{% for song in g.scored %}{% if song.title[0] in g.alphabet[20:26] %}
                      <li><a href="{{ url_for('song', id=song.id) }}">{{ song.title }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a></li>
                    {% endif %}
                    {% endfor %}</ul>
                    </li>
                 </li>
                    </ul>
                 </li>
              </ul>
           </li>
        </ul>
        </div>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">{{ _('Home') }}<span class="sr-only"></span></a></li>
        <li><a href="{{ url_for('songs') }}">{{ _('Songs') }}<span class="sr-only"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<br><br><br><br><br>
{% endblock %}