<head>
   <script src="../static/js/script.js"></script>
</head>
<div id='cssmenu'>
<ul>
   <li class='active has-sub'>Menu
      <ul>
         <li class='has-sub'><a href='#'>USER</a>
            <ul>
               <li><a href='#'>Edit Profile</a></li>
            </ul>
         </li>
         <li class='has-sub'>Following
            <ul>
               <li><a href='#'>INTERPRETE</a></li>
               <li><a href='#'>INTERPRETE</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>
</div>