{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block content %}
{% set title = "Sign In" %}
<div class="container">
<div class="page-header">
    <h2>{{ _('Sign in easy and fast!') }}</h2>
  </div>
	<form action='' method='post'>
		{{ form.hidden_tag() }}
		<div><label class='control-label'>Email:</label> {{ form.email(class='form-control') }}</div>
		<div><label class='control-label'>Nickname:</label> {{ form.nickname(class='form-control') }}</div>
		<div><label class='control-label'>Birthdate:</label> {{ form.birthday(class='form-control') }}</div>
		<div><label class='control-label'>Password:</label> {{ form.password(class='form-control', id='keypass', readonly=True) }}</div><br>
		<div id="virtualkey">
		<table class='table'>
		<tr>
		    <td><input class='btn' id="btn1" type="button" onclick="input(this);" value='1' /></td>
		    <td><input class='btn' id="btn2" type="button" onclick="input(this);" value='2' /></td>
		    <td><input class='btn' id="btn3" type="button" onclick="input(this);" value='3' /></td>
		 </tr>
		 <tr>
		    <td><input class='btn' id="btn4" type="button" onclick="input(this);" value='4' /></td>
		    <td><input class='btn' id="btn5" type="button" onclick="input(this);" value='5' /></td>
		    <td><input class='btn' id="btn6" type="button" onclick="input(this);" value='6' /></td>
		 </tr>
		 <tr>
		    <td><input class='btn' id="btn7" type="button" onclick="input(this);" value='7' /></td>
		    <td><input class='btn' id="btn8" type="button" onclick="input(this);" value='8' /></td>
		    <td><input class='btn' id="btn9" type="button" onclick="input(this);" value='9' /></td>
		 </tr>
		 <tr>
		    <td><input class='btn' id="btn0" type="button" onclick="input(this)"  value='0'/></td>
		    <td><input class='btn' id="btnDel" type="button" value="Backspace" onclick="del();" /></td>
		 </tr>
		 </table>>
		</div>
		<div>{{ form.submit(class='btn btn-primary') }}</div>

	</form>
</div>
{% endblock %}