{% extends "base.html" %}

{% set title = "Songs" %}

{% block scripts %}
{{ super() }}
    <script type='text/javascript'>

     $(function() {
         $('input[name=rating]').change(function(){
            $.post("{{ url_for('set_score') }}", {
                song_id: {{ act_song.id }},
                score: $(this).val()
            });
         });
      });

    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ act_song.title }}<small> - {{ year }}</small></h2>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
            <img id="slider" class="img-thumbnail" src="{{ url_for('.static', filename='media/') }}{{ act_song.id }}.jpg">
        </div>
        <div class="col-md-4 col-md-offset-3">
         <div class="embed-responsive embed-responsive-4by3">
         <iframe class="embed-responsive-item" src="{{ video }}"></iframe>
         </div>
        </div>
        </div>
        </div>
        <div class="row">
        {% if current_user.is_authenticated %}
        <div class="col-md-3 col-md-offset-1">
        <h4>{{ _('Like it? Rate It!') }}</h4>
        <span class="star-rating">
            <input type="radio" name="rating" {% if score==2 or score==1 %} checked {% endif %} value="2"><i></i>
            <input type="radio" name="rating" {% if score==4 or score==3 %} checked {% endif %} value="4"><i></i>
            <input type="radio" name="rating" {% if score==6 or score==5 %} checked {% endif %} value="6"><i></i>
            <input type="radio" name="rating" {% if score==8 or score==7 %} checked {% endif %} value="8"><i></i>
            <input type="radio" name="rating" {% if score==10 or score==9 %} checked {% endif %} value="10"><i></i>

        </span>
        </div>

        {% else %}
            <div class="col-md-3 col-md-offset-1">
                <h3>  {{ _('Want to rate it?') }} <a href="{{ url_for('login') }}">{{ _('SIGN IN!') }}</a></h3>
            </div>
        
        {% endif %}
        </div>
</div>
{% endblock %}
